
#op {
    background-color:#9CD7CD4D;
    height: 420px;
    width: 745px;
    border-radius: 12px;
    padding: 32px;
    box-sizing: border-box;
}
.question-box {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 58vh;
}
h3 {
    text-align: left;
    width: 100%;
    margin: 0;
}
.in_put {
    border: 2px #008573 solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(0, 133, 115,0.5);
    width: 100%;
    cursor: pointer;
}
.in_put.selected {
    background-color: #008573;
   
}
.circle-in {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 2px #008573 solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-in img {
    display: none;
}

.in_put.selected .circle-in {
    background-color: white;
    border: 2px #008573 solid;
}
.in_put.selected .circle-in img {
    display: block;
}
.next-btn {
    border: none;
    background-color: #008573;
    width: 40px;
    padding: 2px;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
}

